@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
     background: #151D21;
    color: white;
font-family: Arvo;
}
